{% extends 'base.html.twig' %}

{% block title %}Ticket{% endblock %}

{% block body %}
    <h1>Ticket</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Title</th>
                <td>{{ ticket.title }}</td>
            </tr>
            <tr>
                <th>Created_At</th>
                <td>{{ ticket.createdAt ? ticket.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    {% for message in ticket.messages %}
        <div>
            <div>Message:</div><br>
            <div>{{ message }}</div>
            <hr><br>
        </div>
    {% endfor %}

{{ include('message/_form.html.twig') }}



    <a href="{{ path('ticket_index') }}">back to list</a>

    <a href="{{ path('ticket_edit', {'id': ticket.id}) }}">edit</a>

    {{ include('ticket/_delete_form.html.twig') }}
{% endblock %}
