{% extends 'base.html.twig' %}

{% block title %}Ticket{% endblock %}

{% block body %}
    <h1>Ticket</h1>

    {# <table class="table">
        <tbody>
            <tr>
                <th>Title</th>
                <td>{{ ticket.title }}</td>
            </tr>
            <tr>
                <th>Created_At</th>
                <td>{{ ticket.createdAt ? ticket.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table> #}

    <div class="center">
        <div>Titre: {{ ticket.title }}</div>
        <div>Date de création: {{ ticket.createdAt ? ticket.createdAt|date('Y-m-d à H:i') : '' }}</div>
    </div>
    <br>

    {% for message in ticket.messages %}
        <div class="blog_message">
            <div class="between">
                <div>L'utilisateur <strong>{{ message.user }}</strong> a écrit :</div>
                <div>{{ message.createdAt ? message.createdAt|date('d-m-Y à H:i') : ''  }}</div>
            </div>
            <div class="message_text">- {{ message.text }}</div>
        </div>
        <br>
    {% endfor %}
<div class="margin">
    {{ include('message/_form.html.twig') }}
</div>


    <a href="{{ path('ticket_index') }}">Retournez à vos tickets</a>
{% endblock %}
